
.player-bid-page {
    padding: 20px;
    text-align: center;
    background-color: #86b1e0;
}

.player-details {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px auto;
    display: inline-block;
    border-radius: 5px;
    background-color: #f0f8ff;
    line-height: 1;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.team-list {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping of cards */
    justify-content: center; /* Centers the items */
    margin-top: 20px;
}

.team-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px; /* Margin around each card */
    width: 300px; /* Adjust width as needed */
    background-color: #f0f8ff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */
}

