/* .auction-page {
    display: flex; 
    padding: 20px; 
}

.players-teams {
    flex: 3; 
    display: flex; 
    margin-right: 20px; 
}

.player-list,
.team-list {
    flex: 1; 
    margin-right: 10px; 
}

.bids-table {
    flex: 1; 
    background-color: #f9f9f9; 
    padding: 10px; 
    border: 1px solid #ddd; 
    border-radius: 4px; 
} */

.player-bid-page {
    padding: 20px;
    text-align: center;
    background-color: #86b1e0;
}

.player-details {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px auto;
    display: inline-block;
    border-radius: 5px;
    background-color: #f0f8ff;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.team-list {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 900px;
}

.team-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 0 10px;
    width: 700px;
    background-color: #f0f8ff;
}

